<h1>This is the home page!</h1>

<a class="badge badge-success" href="/register">Sign Up!</a>
<a class="badge badge-success" href="/login">Login!</a>
<a class="badge badge-success" href="/logout">Logout!</a>
